html{
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #e3edf1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start {
	box-shadow: 3px 4px 34px 6px #424040;
	background:linear-gradient(to bottom, #4ec2f0 5%, #1ea2c4 100%);
	background-color:#5c5c5c;
	border-radius:18px;
	border:1px solid #000000;
	cursor:pointer;
	color:#ffffff;
	font-size: 2em;
	padding: 2em;
    outline: none
}
.start:hover {
	background:linear-gradient(to bottom, #3a94b8 5%, rgb(39, 109, 141) 100%);
	background-color:#28596d;
}
.start:active {
	position:relative;
	top:3px;
}

.countdown {
    position: relative;
    height: 100px;
    width: 100%;
    left: -19px
  }
   
  .countdown-list {
    counter-increment: number ;
    position: absolute;
    -webkit-animation: countdown 1s;
    margin: auto 0;
    width: 100%;
    opacity:0;
    font-size: 60px;
    text-align: center;
  }
   
  .countdown-list:before {
    content: counter(number);
  }
  .countdown-list:nth-child(3) { -webkit-animation-delay: 0.5s;}
  .countdown-list:nth-child(2) { -webkit-animation-delay: 1.5s;}
  .countdown-list:nth-child(1) { -webkit-animation-delay: 2.5s;}
   
  @-webkit-keyframes countdown {
    50% {opacity:1;}
    100% {opacity:0;}
  }

  .numberContainer {
    width: 200px;
    padding: 80px 120px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0 10px 10px 10px rgb(0 0 0 / 20%);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
}

.tryAgain {
	box-shadow: 3px 4px 34px 6px #424040;
	background-color:#ff8484;
	border-radius:18px;
	border:1px solid #000000;
	cursor:pointer;
	color:#ffffff;
	font-size: 2em;
	padding: 1em;
    outline: none;
    width: 100%;
    margin-bottom: 50px;
}

.nextQuestion{
    box-shadow: 3px 4px 34px 6px #424040;
	background-color:#2cd5db;
	border-radius:18px;
	border:1px solid #000000;
	cursor:pointer;
	color:#ffffff;
	font-size: 2em;
	padding: 1em;
    outline: none;
    width: 100%;
}

.formTitle{
  margin-bottom: 10px;
  margin-top: 0;
}

.submit {
  margin-top: 20px;
  height: 35px;
  font-size: 18px;
  background-color: darkorange;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
}

.answerContainer{
  width: 200px;
    padding: 60px 120px 100px 120px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0 10px 10px 10px rgb(0 0 0 / 20%);
    height: 150px;
}

.answerContainer input{
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (max-width:480px) {
  .button-container {
    margin: 10px
  }
  .answerContainer{
    /* width: auto; */
    padding: 60px 50px 100px 50px;
  }
  .numberContainer{
    /* width: auto; */
    padding: 60px 50px 60px 50px;
  }
}